<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./../../dashboard/ejs/pages/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/pubgroupware/css/main-board.css">
  <link rel="stylesheet" type="text/css" href="/pubgroupware/css/mail.css">
  <link rel="stylesheet" type="text/css" href="/pubgroupware/css/quill-emoji.css">
</head>
<body>
  <%- include('./../../dashboard/ejs/pages/navigation.ejs') %>
  <section id="folders">
    <div id="userField">
      <img class="round-image" height="50px" src="/pubdashboard/img/Wappen.png"/>
      <div class="textes">
        <p>Robin Muster</p>
        <p>Administrator</p>
      </div>
    </div>
    <ul id="folder">
      <li>
        <span class="folder">Inbox (1)</span>
        <ul class="nested">
          <li><span>Max</span></li>
          <li><span>Mix</span></li>
          <li>
            <span class="folder">Social</span>
            <ul class="nested">
              <li><span>Twitter</span></li>
              <li><span>Instagram</span></li>
              <li><span class="folder">GitHub</span>
                <ul class="nested">
                  <li><span>Issues</span></li>
                  <li><span>Releases</span></li>
                  <li><span>Depabot</span></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><span>Junk</span></li>
          <li><span class="folder">Archieve</span>
            <ul class="nested">
              <li><span>2019</span></li>
            </ul>
          </li>
          <li><span>Sent</span></li>
          <li><span>Drafts</span></li>
        </ul>
      </li>
    </ul>
    <div id="view-switch">
      <ul>
        <li class="small-item">
          <a href="/gw/mail">Hallo</a>
          <i data-feather="mail" class="icon"></i>
        </li>
        <li class="small-item">
          <a href="/gw/calendar">Hallo</a>
          <i data-feather="calendar" class="icon"></i>
        </li>
        <li class="small-item">
          <a href="/gw/addressbook">Hallo</a>
          <i data-feather="user" class="icon"></i>
        </li>
      </ul>
    </div>
  </section>
  <section id="mails">
    <div id="search-mail">
      <input type="text" class="search-input" placeholder="Search Mail">
      <div class="line"></div>
    </div>
    <ul class="mail-list">
      <li class="unread mail">
        <div>
          <p>Robin</p>
          <span>Beispiel Email</span><br>
          <span>Hallo Max,</span>
        </div>
      </li>
    </ul>
  </section>
  <main>
    <div id="mail-head">
      <img src="/pubdashboard/img/Wappen.png" height="20px" class="round-image-sender">
      <div class="sender-box">
        <p class="sender-name">Max Muster</p>
        <p class="sender-address">FROM: mix.muster@muster.de</p>
        <p class="reciever">CC: <span class="tooltip" data-tooltip="max.muster@muster.de">Max;</span></p>
      </div>
      <div id="mail-options">
        <ul>
          <li class="small-item-button">
            <a href="/">Hallo</a>
            <i data-feather="more-horizontal" class="icon"></i>
          </li>
          <li class="small-item-button">
            <a href="/">Hallo</a>
            <i data-feather="fast-forward" class="icon"></i>
          </li>
          <li class="small-item-button">
            <a href="/">Hallo</a>
            <i data-feather="chevrons-left" class="icon"></i>
          </li>
          <li class="small-item-button">
            <a href="/">Hallo</a>
            <i data-feather="chevron-left" class="icon"></i>
          </li>
        </ul>
      </div>
    </div>
    <div id="mail-content">
		
    </div>
  </main>

  <%- include('./../../dashboard/ejs/pages/script.ejs') %>

  <script>
    var toggler = document.getElementsByClassName("folder");
    var i;
    
    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("folder-out");
      });
    }

    var mailList = document.getElementsByClassName("mail");
    var i;
    
    for (i = 0; i < mailList.length; i++) {
      mailList[i].addEventListener("click", function(e) {
        if(e.offsetX < 20 && !this.classList.contains("unread")) {
          this.classList.toggle("unread");
        }else {
          this.classList.remove("unread");
        }
      });
    }

    </script>
</body>
</html>